@{
    ViewData["Title"] = "账户设置 - 修改密码";
}

<div class="row">
    <div class="col-md-2">
        <div class="text-center">
            <img class="img-thumbnail" src="@ViewData["HeadPhoto"]" style="width:140px; height:140px;" alt="@ViewData["UserName"]" />
            <a href="/usercenter/index" alt="@ViewData["UserName"]">
                <h4>@ViewData["UserName"]</h4>
            </a>
            <a href="/usercenter/AccountSettings" class="btn btn-default">
                <span>个人信息</span>
            </a>
            <a href="/usercenter/upheadphoto" class="btn btn-default">
                <span>换头像</span>
            </a>
        </div>
        <hr />
        <div class="list-group">
            <a href="/usercenter/index/" class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 个人主页</a>
            <a href="/usercenter/accountsettings" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 账户设置</a>
            <a href="/usercenter/securitysettings" class="list-group-item"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 安全设置</a>
            @if (ViewData["Role"].ToString() == "superadmin")
            {
                <a href="/superadmin/index/" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 后台管理</a>
            }
            @if (ViewData["Role"].ToString() == "admin")
            {
                <a href="/admin/index/" class="list-group-item"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 管理员中心</a>
            }
        </div>
    </div>
    <div class="col-md-10">
        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @ViewData["Title"]</h3>
        <hr />
        <form method="post" name="form_submit" asp-action="ModifyPwd" asp-controller="UserCenter">
            <input type="hidden" name="UserName" value="@Model.UserName" />
            <div class="form-group">
                <label class="col-md-2">新密码</label>
                <div class="col-md-3">
                    <input id="userPwd" name="userPwd" type="password" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">确认密码</label>
                <div class="col-md-3">
                    <input id="comfirmPwd" type="password" name="comfirmPwd" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-2">
                    <input type="button" value="修改" name="btnSubmit" class="btn btn-danger" />
                    <span id="msgbox" style="color:red">@ViewData["msgbox"]</span>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../../wwwroot/bower_components/jquery-validate/jquery.validate.min.js"></script>
<script src="../../wwwroot/bower_components/jquery-validate/messages_zh.js"></script>
<script>
    $().ready(function () {
        $("#form_submit").validate({
            rules: {
                userPwd: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                comfirmPwd: {
                    required: true,
                    minlength: 6,
                    maxlength: 20,
                    equalTo: "#userPwd"
                }
            },
            message: {
                userPwd: {
                    required: "请输入密码",
                    minlength: "密码不能小于6个字符",
                    maxlength: "密码不能超过20个字符"
                },
                confirmPwd: {
                    required: "请输入密码",
                    minlength: "密码不能小于6个字符",
                    maxlength: "密码不能超过20个字符",
                    equalTo: "两次密码输入不一致"
                }
            }
        });
    });
</script>